<div class='top'>
  <div class='col-12 clearfix'>
    <div class='row'>
      <h1 class='col-4'>しつけメーター</h1>
      <p class='sentence'>ほどよい怒りを身につけませんか？</p>
      <div class='col text-right'>
        <%= image_tag 'dog.jpeg', class: 'col-8 float-end' %>
      </div>
    </div>
    <% if logged_in? %>
      <a href='/records/new' class='start'>診断スタート<span class='iconify' data-icon='carbon:next-filled' style="color: #ff9a62; font-size: 50px;"></span></a>
    <% else %>
      <%= link_to '登録せずにはじめる', '/records/new', class: 'btn btn-outline-success top' %>
      <br>
      <%= link_to 'ログイン', login_path, class: 'btn btn-outline-danger top' %>
    <% end %>
  </div>
</div>