<%= link_to like_path(current_user.likes.find_by(result_id: @result.id)), method: :delete do %>
  <span class='iconify like mx-auto mt-2' data-icon='ant-design:like-filled' style='color: #ff9a62;'></span>
<% end %>