<div id='container-user'>
  <div class='lead'>
    <h1>お気に入り一覧</h1>
  </div>

  <%= month_calendar events: @like_results do |date, results| %>
    <%= date.day %>

    <% results.each do |result| %>
        <%= link_to result.score, likeresults_result_path(result), class:'likescore' %>点
    <% end %>
  <% end %>
</div>