<div class='wrapper record'>
  <% if @user.images.attached? %>
    <% @user.images.each do |image| %>
      <%= image_tag image.variant(resize:'1200x400').processed, class: 'img-responsive record-img', id: 'new-image' %>
    <% end %>
  <% end %>
    <p id='record'><span class='iconify mic2' data-icon='entypo:mic'></span></p>
</div>
<div class='text-center'>
  <p id='sentence'>クリックで録音開始 ※5秒間計測</P><br>
  <p class='word'>一言で怒ってね</P>
</div>
<%= javascript_pack_tag 'audio' %>
