<h1>録音画面</h1>
<div class="wrapper">
  <section class="main-controls">
    <div id="buttons">
      <button class = "btn btn-dark w-25" id="record" >録音開始</button>
    </div>

</div>
<%= javascript_pack_tag 'audio' %>
