<div class="wrapper">
  <section class="main-controls">
    <div id="buttons">
      <button class = "btn btn-dark w-25" id="record" >録音開始</button>
      <button class = "btn btn-warning w-25" id="stop" >録音停止</button>
      <button class = "btn btn-secondary w-25" id="playid" >録音再生</button>
      <button class = "btn btn-secondary w-25" id="result" >結果へ進む</button>
    </div>
  </section>


  <section class="sound-clips">
  </section>

</div>
<%= javascript_pack_tag 'audio' %>
