<div class='wrapper record'>
  <% if @rank.id == Settings.rank[:beginner] %>
    <div class='pt-2 rank'>難易度:<%= @rank.level %></div>
  <% elsif @rank.id == Settings.rank[:intermediate] %>
    <div class='pt-2 rank'>難易度:<%= @rank.level %></div>
  <% else %>
    <div class='pt-2 rank'>難易度:<%= @rank.level %></div>
  <% end %>
  <p id='record'><span class='iconify mic' data-icon='entypo:mic'></span></p>
</div>
<div class='text-center'>
  <p id='sentence'>クリックで録音開始 ※5秒間計測</P><br>
  <p class='word'>一言で怒ってね</P>
</div>
<%= javascript_pack_tag 'audio' %>
