// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-group4 {
  height: 150px;
  width: 100%;
  background: #f6f7f9;
  text-align: left;
  border-right: 1px solid #f4b67b;
  border-left: 1px solid #f4b67b;
  border-bottom: 1px solid #f4b67b;
  display: flex;
  align-items: center;
}