// Place all the styles related to the loginresults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login-comment {
  font-family: 'Kiwi Maru', serif;
  font-weight: 50;
  font-size: 36px;
}
.master {
  font-family: 'Kiwi Maru', serif;
  font-weight: 50;
  font-size: 24px;
}