// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.resultName {
  font-family: 'Kiwi Maru', serif;
  font-weight: 100;
  font-size: 54px;
}
.score {
  font-family: 'Kiwi Maru', serif;
  font-weight: 100;
  font-size: 72px;
  margin-top: 70px;
  margin-bottom: 70px;
}
span.title {
  font-family: 'Kiwi Maru', serif;
  font-style: normal;
  color: #df842f;
  font-size: 96px;
  font-weight: 900;
}
.comment {
  font-family: 'Kiwi Maru', serif;
  font-weight: 100;
  font-size: 54px;
}
.button {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.btn.mt-2 {
  width: 200px;
  height: 42px;
}