// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top {
  align-items: flex-end;
  z-index: 2;
  // padding-bottom: 120px;
  // box-sizing: border-box;
}
h1.col-4 {
  position: absolute;
  width: 600px;
  height: 300px;
  left: 45px;
  top: 150px;

  font-family: 'Kiwi Maru', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 60px;
  display: flex;
  align-items: center;
  transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);

  color: #000000b3;
  z-index: 2;
}
.sentence {
position: absolute;
left: 50px;
top: 500px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 42px;

color: #000000b3;
}
.col-12 {
  width: 100%;
  height: 100%;

  background: rgba(243, 197, 155, 0.35);
  border-radius: 10px;
}
.col-8 {
  width: 328px;
  height: 572px;
  margin-bottom: 60px;
  margin-right: 20px;
}
.slide-img {
  margin-top: 20px;
}
a.start {
  position: absolute;
  width: 200px;
  height: 42px;
  left: 60px;
  top: 600px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;
  text-decoration: none;

  color: #000000b3;
  z-index: 2;
}
a.start:hover {
  color: #df842f;
}
.btn.btn-outline-success.top {
  position: absolute;
  width: 200px;
  height: 42px;
  left: 100px;
  top: 600px;
}
.btn.btn-outline-danger.top {
  position: absolute;
  width: 200px;
  height: 42px;
  left: 100px;
  top: 650px;
}
.tops {
  margin: 20px 10px 20px;
}