<div class='footer'>
  <ul class='menu'>
    <li><%= link_to '利用規約', terms_path %></li>
    <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
    <li><%= link_to 'お問い合わせ', 'https://forms.gle/oEB3kFiyf5j6mE4p6' %></li>
  </ul>
  <p class='copyright'>
    &copy; Discipline-meter
  </p>
</div>